DATABASE_URL=postgres://myuser:mypassword@hostname_or_ip:port/database_name

# hostname_or_ip: localhost or db if dockerized

# postgres
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=database_name
