# Sample DATABASE URL for Windows until PostgreSQL 12 finally receive official support for Windows 10

# django
DATABASE_URL=sqlite:///everycheese.db
DATABASE_URL=postgres://myuser:mypassword@hostname_or_ip:port/database_name

# hostname_or_ip: localhost if local or db if dockerized

# postgres
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=database_name
