{% extends "base.html" %}
{% load i18n %}
{% block content %}
  {% if user.is_authenticated %}
    <div>
      <p>{% blocktrans %}That was a great journey with pywww! Pleasure to get to this point.{% endblocktrans %}</p>
      <p><a href="https://github.com/raf-lim/hcare">{% blocktrans %}Link to github repository{% endblocktrans %}</a></p>
      <p>{% blocktrans %}Time for pycamp now. See you there.{% endblocktrans %}</p>
    </div>
  {% else %}
    <div>
      <p>{% blocktrans %}That was a great journey with pywww! Pleasure to get to this point.{% endblocktrans %}</p>
      <p>{% blocktrans %}Once signed in you can check the github link.{% endblocktrans %}</p>
      <p>{% blocktrans %}Time for pycamp now. See you there.{% endblocktrans %}</p>
    </div>
  {% endif %}
{% endblock %}
