{% extends "base.html" %}
{% load i18n %}
{% block content %}
  {% if request.user.is_authenticated %}
    <br>
    <ul>
        <a href="{% url 'bloodpressures:list' %}"
           class="btn btn-danger">
          {% blocktrans %}Blood pressures{% endblocktrans %}
        </a>
        <a href="{% url 'glucoses:list' %}"
           class="btn btn-primary">
          {% blocktrans %}Glucoses{% endblocktrans %}
        </a>
    </ul>
  {% else %}
    <div>
      <p>{% blocktrans %}Welcome to my first app online.{% endblocktrans %}</p>
      <p>
        {% blocktrans %}To use the app please{% endblocktrans %}
        <a href="{% url 'account_login' %}">{% blocktrans %}sign in{% endblocktrans %}</a>
      </p>
      <p>{% blocktrans %}Weryfikacja email jest wyłączona więc można wpisać dowolny fejkowy adres email{% endblocktrans %}</p>
    </div>
  {% endif %}
{% endblock %}

