{% extends "base.html" %}
{% load i18n %}
{% block content %}
  {% if request.user.is_authenticated %}
    <br>
    <ul>
        <a href="{% url 'bloodpressures:list' %}"
           class="btn btn-danger">
          {% trans "Blood pressures" %}
        </a>
        <a href="{% url 'glucoses:list' %}"
           class="btn btn-primary">
          {% trans "Glucoses" %}
        </a>
    </ul>
  {% else %}
    <div>
      <p>{% trans "Welcome to my first app online." %}</p>
      <p>
        {% trans "To use the app please" %}
        <a href="{% url 'account_login' %}">{% trans "sign in" %}</a>
      </p>
      <p>{% trans "Weryfikacja email jest wyłączona więc można wpisać dowolny fejkowy adres email." %}</p>
    </div>
  {% endif %}
{% endblock %}

