{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h1>{{ object.recorded }}</h1>
  <table class="table table-condensed align-left">
    <tr>
      <th>{% trans "Systolic pressure" %}</th>
      <td>{{ object.systolic }}</td></tr>
    <tr>
      <th>{% trans "Diastolic pressure" %}</th>
      <td>{{ object.diastolic }}</td></tr>
    <tr>
      <th>{% trans "Pulse" %}</th>
      <td>{{ object.pulse }}</td></tr>
    <tr>
      <th>{% trans "Notes" %}</th>
      <td>{{ object.notes }}</td></tr>
  </table>
  <br>
  <a href="{% url 'bloodpressures:update' object.id %}"
     class="btn btn-success">{% trans "Update" %}</a>
  <a href="{% url 'bloodpressures:delete' object.id %}"
     class="btn btn-danger">{% trans "Delete" %}</a>
  <br><br>
  <a href="{% url 'bloodpressures:list' %}" class="btn btn-outline-secondary">
    {% trans "Retrun to list" %}
  </a>
{% endblock %}
