{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <table class="table table-stripped">
    <thead>
      <tr>
        <th scope="col">{% trans "Date" %}</th>
        <th scope="col">{% trans "Systolic pressure" %}</th>
        <th scope="col">{% trans "Diastolic pressure" %}</th>
        <th scope="col">{% trans "Pulse" %}</th>
      </tr>
    </thead>
      <tbody>
       {% for obj in object_list %}
        <tr>
          <td><a href="{% url 'bloodpressures:detail' obj.id %}">{{ obj.recorded }}</a></td>
          <td>{{ obj.systolic }}</td>
          <td>{{ obj.diastolic }}</td>
          <td>{{ obj.pulse }}</td>
        </tr>
       {% endfor %}
      </tbody>
  </table>
  <br>
  <a href="{% url 'bloodpressures:create' %}" class="btn btn-success">{% translate "Add" %}</a>
{% endblock %}
