{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <h1>{{ object.recorded }}</h1>
  <table class="table">
    <tr>
      <th>{% blocktrans %}Date{% endblocktrans %}</th>
      <td>{{ object.recorded }}</td></tr>
    <tr>
      <th>{% blocktrans %}Glucose{% endblocktrans %}</th>
      <td>{{ object.glucose }}</td></tr>
    <tr>
      <th>{% blocktrans %}Notes{% endblocktrans %}</th>
      <td>{{ object.notes }}</td></tr>
  </table>
  <a href="{% url 'glucoses:update' object.id %}"
     class="btn btn-success">{% blocktrans %}Update{% endblocktrans %}</a>
  <a href="{% url 'glucoses:delete' object.id %}"
     class="btn btn-danger">{% blocktrans %}Delete{% endblocktrans %}</a>
  <br><br>
  <a href="{% url 'glucoses:list' %}" class="btn btn-outline-secondary">
    {% blocktrans %}Retrun to list{% endblocktrans %}
  </a>
{% endblock %}
