{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <h1>{{ object.recorded }}</h1>
  <table class="table">
    <tr>
      <th>{% trans "Date" %}</th>
      <td>{{ object.recorded }}</td></tr>
    <tr>
      <th>{% trans "Glucose" %}</th>
      <td>{{ object.glucose }}</td></tr>
    <tr>
      <th>{% trans "Notes" %}</th>
      <td>{{ object.notes }}</td></tr>
  </table>
  <a href="{% url 'glucoses:update' object.id %}"
     class="btn btn-success">{% trans "Update" %}</a>
  <a href="{% url 'glucoses:delete' object.id %}"
     class="btn btn-danger">{% trans "Delete" %}</a>
  <br><br>
  <a href="{% url 'glucoses:list' %}" class="btn btn-outline-secondary">
    {% trans "Retrun to list" %}
  </a>
{% endblock %}
